button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  padding: 12px 18px;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

.teacher-button {
  background: #845ef7;
  color: white;
}

.teacher-button:hover {
  background: #7048e8;
}

.logout-button {
  background: #ff6b6b;
  color: white;
}

.logout-button:hover {
  background: #fa5252;
}

/* ACTION BUTTON */

.action-btn {
  padding: 15px;
  border-radius: 12px;
  background: #4caf50;
  color: white;
}

.action-btn:hover {
  transform: scale(1.05);
  background: #388e3c;
}

.action-btn.negative {
  background: #e53935;
}

.action-btn.negative:hover {
  background: #c62828;
}

/* BOTÃO PRINCIPAL  */

.btn-primary {
  background: #4dabf7;
  color: white;
  width: 100%;
  margin-top: 10px;
}

.btn-primary:hover {
  background: #339af0;
}

/* BOTÃO GRADIENTE LOGIN */

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;

  border: none;
  border-radius: 12px;

  background: linear-gradient(135deg, #4dabf7, #228be6);
  color: white;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: linear-gradient(135deg, #339af0, #1c7ed6);
  transform: translateY(-2px);
}